<section id="app-choose-role">
  <div class="bg-auth flex items-center justify-center" [style.minHeight.px]="innerHeight">
    <div class="choose-role mx-4 h-fit bg-white shadow rounded">
      <div class="logo h-20 bg-warmGray-100 flex items-center justify-center">
        <a class="flex h-14 px-2" [routerLink]="['/']">
          <div class="w-14 flex items-center justify-center">
            <img [src]="logo" class="w-12" />
          </div>
          <div class="h-full flex flex-grow w-48 items-center toggle">
            <div class="flex-grow flex w-0 uppercase">
              <span class="text-warmGray-800 text-lg">Kết Nối </span>
              <div class="icon-connect flex flex-col text mx-1">
                <i nz-icon nzType="swap-left" nzTheme="outline" class="swap-left"></i>
                <i
                  nz-icon
                  nzType="swap-right"
                  nzTheme="outline"
                  class="-scale-y-1 -mt-1.75 swap-right"
                ></i>
              </div>
              <span class="text-red-600 text-lg font-semibold">Xây Dựng</span>
            </div>
          </div>
        </a>
      </div>
      <div class="p-5">
        <div class="grid grid-cols-12 gap-4 mb-5">
          <div
            *ngFor="let choose of chooses; let i = index"
            class="
              col-span-4
              h-24
              border border-warmGray-200
              rounded
              flex
              items-center
              justify-center
              cursor-pointer
              shadow-sm
              hover:shadow
              hover:bg-warmGray-100
              hover
            "
            [class.selected]="choose.selected"
            (click)="changeChoose(i)"
          >
            <div class="flex flex-col">
              <i
                nz-icon
                [nzType]="choose.icon"
                nzTheme="outline"
                class="text-2xl mb-2"
                [class]="choose.selected ? 'text-lime-700' : 'text-warmGray-400'"
              ></i>
              <span
                class="text-xs text-warmGray-500 uppercase px-2 text-center"
                [class]="choose.selected ? 'text-lime-700' : 'text-warmGray-500'"
                >{{ choose.name }}</span
              >
            </div>
          </div>
        </div>

        <div class="text-smm text-warmGray-700 mb-5">
          Quý khách đang lựa chọn <span class="font-semibold">{{ chooseCurrent.name }}</span
          >!
        </div>
        <div class="flex flex-row">
          <button nz-button nzType="default" class="w-1/2 mr-4" nzSize="large" (click)="cancel()">
            Huỷ bỏ
          </button>
          <button nz-button nzType="primary" class="w-1/2" nzSize="large" (click)="chooseRole()">
            Xác nhận
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
