<section id="app-register">
  <div class="bg-auth flex items-center justify-center" [style.minHeight.px]="innerHeight">
    <div class="register flex items-center py-5">
      <div class="mx-4 w-full h-fit bg-white shadow rounded">
        <div class="logo h-20 bg-warmGray-100 flex items-center justify-center">
          <a class="flex h-14 px-2" [routerLink]="['/']">
            <div class="w-14 flex items-center justify-center">
              <img [src]="logo" class="w-12" />
            </div>
            <div class="h-full flex flex-grow w-48 items-center toggle">
              <div class="flex-grow flex w-0 uppercase">
                <span class="text-warmGray-800 text-lg">Kết Nối </span>
                <div class="icon-connect flex flex-col text mx-1">
                  <i nz-icon nzType="swap-left" nzTheme="outline" class="swap-left"></i>
                  <i
                    nz-icon
                    nzType="swap-right"
                    nzTheme="outline"
                    class="-scale-y-1 -mt-1.75 swap-right"
                  ></i>
                </div>
                <span class="text-red-600 text-lg font-semibold">Xây Dựng</span>
              </div>
            </div>
          </a>
        </div>
        <form nz-form [formGroup]="registerForm" (ngSubmit)="formIsValid()" class="w-full p-5">
          <!---- email ----->
          <div class="block">
            <nz-form-label nzRequired>Email</nz-form-label>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="combineTplEmail">
                <input formControlName="email" nz-input placeholder="Nhập email" />
                <ng-template #combineTplEmail let-control>
                  <ng-container *ngIf="control.hasError('pattern')"
                    >Email không hợp lệ</ng-container
                  >
                  <ng-container *ngIf="control.hasError('required')"
                    >Vui lòng nhập email</ng-container
                  >
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <!---- username ----->
          <div class="block">
            <nz-form-label nzRequired>Username</nz-form-label>
            <nz-form-item>
              <nz-form-control nzErrorTip="Vui lòng nhập username">
                <input formControlName="username" nz-input placeholder="Nhập username" />
              </nz-form-control>
            </nz-form-item>
          </div>

          <!---- password ----->
          <div class="block password">
            <nz-form-label
              nzRequired
              nzTooltipTitle="Mật khẩu từ 8 - 32 ký tự, phải bao gồm số, chữ thường và chữ hoa!"
              [nzTooltipIcon]="iconInfo"
              >Mật khẩu</nz-form-label
            >
            <nz-form-item>
              <nz-form-control [nzErrorTip]="combineTplPassword">
                <nz-input-group [nzSuffix]="suffixTemplate">
                  <input
                    [type]="passwordVisible ? 'text' : 'password'"
                    nz-input
                    placeholder="Nhập mật khẩu"
                    formControlName="password"
                  />
                  <ng-template #combineTplPassword let-control>
                    <ng-container
                      *ngIf="
                        !control.hasError('maxlength') &&
                        !control.hasError('minlength') &&
                        control.hasError('regex_characters')
                      "
                      >Mật khẩu phải bao gồm số, chữ thường và chữ hoa</ng-container
                    >
                    <ng-container *ngIf="control.hasError('maxlength')"
                      >Mật khẩu không được quá 32 ký tự</ng-container
                    >
                    <ng-container *ngIf="control.hasError('minlength')"
                      >Mật khẩu không được ít hơn 8 ký tự</ng-container
                    >
                    <ng-container *ngIf="control.hasError('required')"
                      >Vui lòng nhập mật khẩu</ng-container
                    >
                  </ng-template>
                </nz-input-group>
                <ng-template #suffixTemplate>
                  <i
                    nz-icon
                    [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                    (click)="passwordVisible = !passwordVisible"
                  ></i>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <!---- password_confirmation ----->
          <div class="block password">
            <nz-form-label nzRequired>Nhập lại mật khẩu</nz-form-label>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="passwordErrorTpl">
                <nz-input-group [nzSuffix]="suffixTemplateConfirm">
                  <input
                    [type]="passwordConfirmationVisible ? 'text' : 'password'"
                    nz-input
                    placeholder="Nhập lại mật khẩu"
                    formControlName="password_confirmation"
                  />
                  <ng-template #passwordErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Vui lòng nhập lại mật khẩu!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('confirm')">
                      Mật khẩu không trùng khớp
                    </ng-container>
                  </ng-template>
                </nz-input-group>
                <ng-template #suffixTemplateConfirm>
                  <i
                    nz-icon
                    [nzType]="passwordConfirmationVisible ? 'eye-invisible' : 'eye'"
                    (click)="passwordConfirmationVisible = !passwordConfirmationVisible"
                  ></i>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <button
            nz-button
            [disabled]="registerForm.invalid || isLoading"
            nzType="primary"
            class="w-full my-3"
            nzSize="large"
            (click)="submitRegister()"
          >
            <p class="flex items-center justify-center">
              <app-loading *ngIf="isLoading" [color]="'#FFFFFF'" class="mr-3"></app-loading>
              Đăng ký
            </p>
          </button>
          <a [routerLink]="['/login']" class="text-primary hover:text-red-700">Đăng nhập!</a>
        </form>
      </div>
    </div>
  </div>
</section>
