<section id="app-forgot-password">
  <div class="bg-auth flex items-center justify-center" [style.minHeight.px]="innerHeight">
    <div class="forgot flex items-center py-5">
      <div class="mx-4 w-full h-fit bg-white shadow rounded">
        <div class="logo h-20 bg-warmGray-100 flex items-center justify-center">
          <a class="flex h-14 px-2" [routerLink]="['/']">
            <div class="w-14 flex items-center justify-center">
              <img [src]="logo" class="w-12" />
            </div>
            <div class="h-full flex flex-grow w-48 items-center toggle">
              <div class="flex-grow flex w-0 uppercase">
                <span class="text-warmGray-800 text-lg">Kết Nối </span>
                <div class="icon-connect flex flex-col text mx-1">
                  <i nz-icon nzType="swap-left" nzTheme="outline" class="swap-left"></i>
                  <i
                    nz-icon
                    nzType="swap-right"
                    nzTheme="outline"
                    class="-scale-y-1 -mt-1.75 swap-right"
                  ></i>
                </div>
                <span class="text-red-600 text-lg font-semibold">Xây Dựng</span>
              </div>
            </div>
          </a>
        </div>
        <form nz-form [formGroup]="forgotForm" (ngSubmit)="formIsValid()" class="w-full p-5">
          <!---- email ----->
          <div class="block">
            <nz-form-label nzRequired>Email</nz-form-label>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="combineTplEmail">
                <input
                  formControlName="email"
                  nz-input
                  placeholder="Nhập email để lấy lại mật khẩu"
                />
                <ng-template #combineTplEmail let-control>
                  <ng-container *ngIf="control.hasError('pattern')"
                    >Email không hợp lệ</ng-container
                  >
                  <ng-container *ngIf="control.hasError('required')"
                    >Vui lòng nhập email</ng-container
                  >
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <button
            [disabled]="forgotForm.invalid || isLoading"
            nz-button
            nzType="primary"
            class="w-full my-3"
            nzSize="large"
            (click)="submitForgot()"
          >
            <p class="flex items-center justify-center">
              <app-loading *ngIf="isLoading" [color]="'#FFFFFF'" class="mr-3"></app-loading>
              Lấy lại mật khẩu
            </p>
          </button>
          <a [routerLink]="['/login']" class="text-primary hover:text-red-700">Đăng nhập!</a>
        </form>
      </div>
    </div>
  </div>
</section>
