<section id="app-project" class="h-full bg-white rounded-lg">
  <div class="w-full flex flex-col md:h-full p-3 lg:p-4">
    <div class="flex h-fit justify-between" #eleActionHeight>
      <form
        nz-form
        [formGroup]="filterForm"
        class="form-filter flex-grow mb-3 lg:mb-4 mr-3 lg:mr-4"
        nzLayout="horizontal"
        (keyup.enter)="keywordFilterChange()"
      >
        <div class="col-span-6">
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input
              formControlName="name"
              type="text"
              nz-input
              placeholder="Nhập từ khoá tìm kiếm"
              #eleSearch
            />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <div class="flex items-center">
              <i
                *ngIf="filterForm.value.name"
                nz-icon
                nzType="close"
                [nzTooltipMouseEnterDelay]="0.5"
                nz-tooltip
                nzTooltipTitle="Xoá"
                (click)="clearSearch()"
              ></i>
              <span
                class="mx-2 border-l border-warmGray-300 h-5"
                *ngIf="filterForm.value.name"
              ></span>
              <i
                nz-icon
                nzType="search"
                [nzTooltipMouseEnterDelay]="0.5"
                nz-tooltip
                nzTooltipTitle="Tìm kiếm"
                (click)="keywordFilterChange()"
              ></i>
            </div>
          </ng-template>
        </div>
      </form>

      <button
        (click)="createProject()"
        nz-button
        nzType="primary"
        class="flex items-center justify-center"
      >
        <i nz-icon nzType="plus" nzTheme="outline" class="mr-1"></i>Tạo dự án
      </button>
    </div>

    <div class="h-full md:h-0 flex-grow" #eleTable>
      <nz-table
        [nzData]="rows"
        [nzTotal]="total"
        [nzLoading]="isLoading"
        [nzShowPagination]="false"
        nzBordered
        [nzScroll]="
          rows.length
            ? innerWidth >= 768
              ? { x: '900px', y: 'calc(' + heightTable + 'px - 55px - 52px)' }
              : { x: '900px' }
            : null
        "
        class="h-fit"
      >
        <thead>
          <tr>
            <th nzWidth="60px"><strong class="text-center">STT</strong></th>
            <th nzWidth="35%" class="font-semibold"><strong>Tên dự án</strong></th>
            <th nzWidth="30%" class="font-semibold"><strong>Nhà cung cấp</strong></th>
            <th nzWidth="120px" class="font-semibold"><strong>Trạng thái</strong></th>
            <th nzWidth="110px" class="font-semibold"><strong>Ngày tạo</strong></th>
            <th nzRight nzWidth="80px"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of rows; let last = last; let i = index" [class.last-row]="last">
            <td class="text-center">#{{ i + 1 + (pageIndex - 1) * pageSize }}</td>
            <td (click)="showModalDetailProject(project?.id)">
              <a class="hover:text-red-800">{{ project?.name }}</a>
            </td>
            <td>
              <div *ngFor="let supplier of project?.suppliers; let i = index">
                <div *ngIf="i < 2">- {{ supplier?.name }} ({{ supplier?.sub_name }})</div>
              </div>
              <div
                *ngIf="project?.suppliers?.length > 2"
                class="text-gray-400 ml-2"
                nz-popover
                [nzTooltipTitle]="supplierMoreTemplate"
                nzTooltipPlacement="bottomLeft"
                nzTooltipTrigger="hover"
                nzTooltipColor="rgba(41, 37, 36, 0.97)"
                nz-tooltip
              >
                và {{ project?.suppliers?.length - 2 }} nhà cung cấp khác
              </div>
              <ng-template #supplierMoreTemplate>
                <div class="profile-popover w-auto h-auto">
                  <div *ngFor="let supplier of project?.suppliers; let i = index">
                    <div *ngIf="i > 1">- {{ supplier?.name }} ({{ supplier?.sub_name }})</div>
                  </div>
                </div>
              </ng-template>
            </td>
            <td>
              <nz-badge
                [nzStatus]="nzStatusList[project?.is_active]"
                [nzText]="nzStatusName[project?.is_active]"
              ></nz-badge>
            </td>
            <td>
              <p>{{ project?.created_at | dateFormat: 'DD/MM/YYYY' }}</p>
            </td>
            <td nzRight>
              <div class="flex items-center justify-center">
                <div
                  class="
                    border
                    flex
                    items-center
                    justify-center
                    h-6
                    w-6
                    rounded-md
                    hover:bg-red-800
                    hover:text-white
                    cursor-pointer
                    hover-fast
                    mr-4
                  "
                  [nzTooltipMouseEnterDelay]="0.5"
                  nz-tooltip
                  nzTooltipTitle="Tạo đơn hàng"
                >
                  <i nz-icon nzType="plus" nzTheme="outline"></i>
                </div>
                <div
                  class="
                    flex flex-col
                    h-5
                    w-3
                    cursor-pointer
                    hover-fast
                    hover:text-red-800
                    text-center
                  "
                  nz-popover
                  nzPopoverTrigger="click"
                  [nzPopoverContent]="actionTemplate"
                  nzPopoverPlacement="left"
                  nzPopoverOverlayClassName="action"
                >
                  <span class="flex items-center h-1/3 text-lg">•</span>
                  <span class="flex items-center h-1/3 text-lg">•</span>
                  <span class="flex items-center h-1/3 text-lg">•</span>
                </div>
                <ng-template #actionTemplate>
                  <div class="profile-popover w-20 h-20 flex items-center">
                    <div class="w-full">
                      <button
                        nz-button
                        nzType="primary"
                        nzSize="small"
                        class="w-full mb-3"
                        (click)="editProject(project?.id)"
                      >
                        Chỉnh sửa
                      </button>
                      <button
                        nz-button
                        nzType="default"
                        nzSize="small"
                        class="w-full"
                        nz-popconfirm
                        nzPopconfirmTitle="Bạn có muốn xoá dự án này?"
                        (nzOnConfirm)="submitDelete(project?.id)"
                        nzPopconfirmPlacement="left"
                        nzCancelText="Huỷ bỏ"
                        nzOkText="Xoá"
                      >
                        Xoá
                      </button>
                    </div>
                  </div>
                </ng-template>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>

      <div
        class="
          h-fit
          flex
          items-center
          w-full
          content-center
          justify-start
          sm:justify-between
          mt-4
          overflow-x-auto
        "
      >
        <div class="w-28 inline-table">
          Tổng số: <strong>{{ total }}</strong>
        </div>
        <div class="flex flex-grow custom-pagination-nz justify-center">
          <button
            *ngIf="total"
            class="ant-pagination-item-link pagination-btn-first"
            [class.pagination-btn-disabled]="pageIndex === 1"
            [disabled]="pageIndex === 1"
            (click)="gotoFirstPage()"
          >
            <i nz-icon nzType="double-left" nzTheme="outline"></i>
          </button>
          <nz-pagination
            #tableTempRef
            [nzPageIndex]="pageIndex"
            [nzPageSize]="pageSize"
            [nzTotal]="total"
            class="flex"
          ></nz-pagination>
          <button
            *ngIf="total"
            class="ant-pagination-item-link pagination-btn-end mr-4"
            [class.pagination-btn-disabled]="pageIndex === totalPages"
            [disabled]="pageIndex === totalPages"
            (click)="gotoEndPage()"
          >
            <i nz-icon nzType="double-right" nzTheme="outline"></i>
          </button>
        </div>
        <nz-select
          class="w-28"
          [(ngModel)]="pageSize"
          [nzOptionHeightPx]="36"
          [nzOptionOverflowSize]="5"
          (ngModelChange)="changePageSize($event)"
        >
          <nz-option
            *ngFor="let size of listPageSize"
            [nzValue]="size"
            [nzLabel]="size + ' / trang'"
          ></nz-option>
        </nz-select>
      </div>
    </div>
  </div>
</section>
