<div class="text-warmGray-600 text-lg mb-3">
  <span class="font-semibold">{{ contract?.name }} </span
  ><span
    class="text-sm text-warmGray-400"
    nzTooltipTitle="tên rút gọn"
    nzTooltipPlacement="top"
    nz-tooltip
    >({{ contract?.sub_name }})</span
  >
</div>

<!-- <div class="flex mb-3">
  <div class="w-36 flex items-center">
    <i nz-icon nzType="alert" nzTheme="outline" class="text-red-800 mr-2"></i>
    <span class="text-warmGray-400">Trạng thái:</span>
  </div>
  <div class="flex-grow w-0 flex items-center">
    <span class="mr-2">{{ project.status ? 'hoạt động' : 'chờ' }}</span>
    <nz-badge *ngIf="!project.status" nzStatus="processing"></nz-badge>
    <nz-badge *ngIf="project.status" nzStatus="success"></nz-badge>
  </div>
</div> -->

<div class="flex items-start mb-3">
  <div class="w-36 flex items-center">
    <i nz-icon nzType="medicine-box" nzTheme="outline" class="text-red-800 mr-2"></i>
    <span class="text-warmGray-400">Nhà thầu:</span>
  </div>
  <div class="flex-grow w-0">{{ contract?.contractor }}</div>
</div>

<div class="flex items-start mb-3">
  <div class="w-36 flex items-center">
    <i nz-icon nzType="idcard" nzTheme="outline" class="text-red-800 mr-2"></i>
    <span class="text-warmGray-400">Nhà cung cấp:</span>
  </div>
  <div class="flex-grow w-0">{{ contract?.supplier }}</div>
</div>

<div class="flex items-start mb-0.5">
  <div class="w-36 flex items-center">
    <i nz-icon nzType="calendar" nzTheme="outline" class="text-red-800 mr-2"></i>
    <span class="text-warmGray-400">Ngày ký kết:</span>
  </div>
  <div class="flex-grow w-0">{{ contract?.signing_date | dateFormat: 'DD/MM/YYYY' }}</div>
</div>

<div class="flex items-start mb-0.5">
  <div class="w-36 flex items-center">
    <i nz-icon nzType="calendar" nzTheme="outline" class="text-red-800 mr-2"></i>
    <span class="text-warmGray-400">Ngày kết thúc:</span>
  </div>
  <div class="flex-grow w-0">{{ contract?.end_date | dateFormat: 'DD/MM/YYYY' }}</div>
</div>

<div class="flex items-start mb-0.5">
  <div class="w-36 flex items-center">
    <i nz-icon nzType="calendar" nzTheme="outline" class="text-red-800 mr-2"></i>
    <span class="text-warmGray-400">Ngày tạo hợp đồng:</span>
  </div>
  <div class="flex-grow w-0">{{ contract?.created_date | dateFormat: 'DD/MM/YYYY' }}</div>
</div>
