<section
  id="app-footer"
  class="bg-transparent block lg:flex items-center justify-between py-4 border-t mt-3 lg:mt-4"
>
  <!-- <img class="h-16" [src]="banner" /> -->
  <div class="text-sm text-center lg:text-left">
    Copyright © {{ year }} <strong>Ket Noi Xay Dung</strong> All rights reserved.
  </div>
  <div class="flex text-sm justify-center lg:justify-end">
    <a class="">Điều khoản sử dụng</a>
    <span class="mx-2"> | </span>
    <a class="">Chính sách bảo mật</a>
  </div>
</section>
