<app-loading [color]="'#78716C'" [isCenter]="true" *ngIf="loading$ | async"></app-loading>
<!-- <ngx-loading-bar [includeSpinner]="false" [height]="'2px'" [color]="'#78716C'"></ngx-loading-bar> -->
<ng-container *ngIf="layout$ | async as layoutEnum">
  <app-main-layout *ngIf="layoutEnum === LayoutEnum.MAIN"></app-main-layout>
  <app-auth-layout *ngIf="layoutEnum === LayoutEnum.AUTH"></app-auth-layout>
  <app-blank-layout *ngIf="layoutEnum === LayoutEnum.BLANK"></app-blank-layout>
</ng-container>
