@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'font-open-sans';

/**
 * Menu style common app
 * 1. Global
 * 2. Common
 * 3. Custom Antd
 * 4. ....
 */

// ------------- 1. Global

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  // position: fixed;
  // overflow: hidden;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 16px;
  // display: block;
  // background-color: rgb(238, 238, 238);
}

::-webkit-scrollbar-thumb {
  @apply bg-warmGray-500 shadow-none;
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

input {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
// ::-webkit-scrollbar-track {
//   -webkit-box-shadow: none;
//   @apply rounded bg-gray-100;
// }

// ------------- 2. Common

.transformXY-50 {
  transform: translate(-50%, -50%);
}

.transformX-50 {
  transform: translateX(-50%);
}

.transformY-50 {
  transform: translateY(-50%);
}

.h-fit {
  height: fit-content;
}

.w-fit {
  width: fit-content;
}

.hover {
  transition: all 1s ease-out; // hover smooth transition
}

.hover-fast {
  transition: all 0.2s ease-out; // hover smooth transition
}

.overflow-smooth {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

// ------------- 3. Custom Antd

.ant-modal-close:focus,
.ant-modal-close:hover {
  outline: none;
}

.ant-form-item-explain-error {
  div {
    margin-top: 6px;
  }
}

.custom-pagination-nz {
  .pagination-btn-first,
  .pagination-btn-end {
    width: 36px;
    height: 36px;
    padding: 0;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    outline: 0;
    transition: all 0.3s;

    min-width: 32px;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: #991b1b;
      border: 1px solid #991b1b;
    }
  }

  .pagination-btn-first {
    margin-right: 8px;
  }

  .pagination-btn-end {
    margin-left: 8px;
  }

  .pagination-btn-disabled {
    &:hover {
      color: rgba(0, 0, 0, 0.25);
      border: 1px solid rgba(0, 0, 0, 0.25);
    }
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
}

.ant-table-column-sorter-full {
  line-height: 1;
}

.modal-submit {
  .ant-modal-close {
    pointer-events: none;
    opacity: 0.4;
  }

  .ant-modal-footer .ant-btn {
    display: inline-flex;
    align-items: center;
  }
}

.ant-table-cell-fix-left,
.ant-table-cell-fix-right {
  position: sticky !important;
  position: -webkit-sticky !important;
}
