$screen-xs: 425px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1500px;

// small mobile
@mixin xs {
  @media screen and (min-width: #{$screen-xs}) {
    @content;
  }
}

// mobile
@mixin sm {
  @media screen and (min-width: #{$screen-sm}) {
    @content;
  }
}

// tablet
@mixin md {
  @media screen and (min-width: #{$screen-md}) {
    @content;
  }
}

// big tablet + small laptop
@mixin lg {
  @media screen and (min-width: #{$screen-lg}) {
    @content;
  }
}

// laptop
@mixin xl {
  @media screen and (min-width: #{$screen-xl}) {
    @content;
  }
}

// big laptop + desktop
@mixin xxl {
  @media screen and (min-width: #{$screen-xxl}) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media screen and (min-width: #{$screen}) {
    @content;
  }
}
